# This is an example environment file for the POS frontend application
# Replace the values with your own configuration as needed
# VITE_BACKEND_URL is the URL of the backend API that the frontend will communicate with
VITE_BACKEND_URL=http://localhost:3000/
# VITE_MENU_IMAGES_BASE_URL is the base URL for accessing menu images stored in S3
VITE_MENU_IMAGES_BASE_URL=https://dishpatch-pos-backend-menu-photo.s3.ap-southeast-2.amazonaws.com