DISH_PATCH_NETWORK_NAME=dishpatch-network

DOMAIN=controlapi.dish-patch.com
CERTBOT_EMAIL=your-email@example.com

LETSENCRYPT_DIR=/opt/dishpatch/letsencrypt
CERTBOT_WEBROOT=/opt/dishpatch/certbot/www

NGINX_TEST_BIND_IP=127.0.0.1
NGINX_TEST_HTTP_PORT=18080