# This is an example environment file for the POS backend application
# Replace the values with your own configuration as needed
# Replace the values with your own AWS credentials and region
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-2
# Replace the values with your own DynamoDB table names
USERS_TABLE=dishpatch-pos-backend-Users
ORDERS_TABLE=dishpatch-pos-backend-Orders
PAYMENTS_TABLE=dishpatch-pos-backend-Payments
TABLES_TABLE=dishpatch-pos-backend-Tables
MENU_ITEMS_TABLE=dishpatch-pos-backend-MenuItems